.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9; /* Light background color */
}

.login-container {
    width: 400px; /* Original width */
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sharper box shadow */
}

.login-container h1 {
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
    color: #0b0808; /* Text color */
}

.login-fields {
    margin-bottom: 20px;
}

.login-fields input {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75); /* Semi-transparent white */
    color: #000; /* Black text color */
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
}

.login-fields input::placeholder {
    font-size: 16px;
    color: #332727; 
}

.login-fields input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white on focus */
}

.login-container button {
    width: 100%;
    padding: 12px;
    background: #e31d02; /* Coral button color */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background: #ff6b6b; 
}

.login-login {
    margin-top: 20px;
    text-align: center;
    color: #060303; 
}

.login-login a {
    color: #e3260d; /* Coral link color */
    text-decoration: none;
}

.login-login a:hover {
    text-decoration: underline;
}

